@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background: var(--lightGray);
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
p {
  text-align: center;
}

.container {
  padding: 1rem;
  background: var(--White);
  border-radius: 1rem;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container p:nth-child(2) {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1rem;
}

.container p:nth-child(3) {
  color: var(--grayishBlue);
  padding: 0.5rem;
  font-size: 1.2rem;
}
.img-container {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  border-radius: 1rem;
}
@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .container {
    width: 280px;
  }
  .container p:nth-child(2) {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
  }
  .container p:nth-child(3) {
    padding: 0;
    font-size: 1rem;
  }
  .img-container {
    width: 250px;
  }
  img {
    width: 100%;
  }
}
